@import "../variable";

.swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper--h1 {
  position: absolute;
  color: $white;
  top: 20%;
  right: 58px;
  font-size: 2.5rem;
  font-family: "MS Pゴシック";
  font-weight: bold;
  z-index: 2;
}
